extends layout

block content
    main.inner
      header
        .header.wrapp
          .logo
            a(href='/main')
              img(src='images/logo.png', alt='logo')
          .info-1
            .info
              .info-logo
                i.fas.fa-phone-square
              h4.header-info 123 456 7890
            .info
              .info-logo
                i.fas.fa-home
              h4.header-info Office building, Street, Country
      nav#navigation
        .wrapp
          .allnav
            .scrollnav
              a(href='#cars')
                span PRE-OWNED CARS
              a(href='#news_section')
                span NEWS
              a(href='#article_div')
                span ABOUT US
              a(href='#footer_section')
                span CONTACT US
            div
              a#register(style='cursor: pointer;')
                i.fas.fa-user-plus
                span  SIGN UP
              a#login(style='cursor:pointer;')
                i.fas.fa-sign-in-alt
                span.signin  SIGN IN
      .searchback
        .wrapp
          .search 
            h1.title SEARCH PRE-OWNED CARS
            .selects
              form(action='/search', method='get')
                select#make_select(required='',name='make_select', onChange='go(this)')
                  option(value='*', disabled='', selected='', hidden='') Make
                  each res in results[0]
                    option(value=res.idCar_make) #{res.Car_make}
                select#model_select(required='',name='model_select')
                  option(value='', disabled='', selected='', hidden='') Model
                  each res in results[2]
                    option(value=res.Model 'data-mark'=res.Car_make) #{res.Model}
                //- select
                //-   option(value='', disabled='', selected='', hidden='') Year
                  //- each res in results[1]
                  //-   option(value=res.idAnnouncement) #{res.Year}
                //- select
                //-   option(value='', disabled='', selected='', hidden='') Body Type
                //- select
                //-   option(value='', disabled='', selected='', hidden='') Mileage
                input.search_button(type='submit', value='Search')
                input.reset_button(type='reset', value='Reset')
            .searchbuttons.scrollnav
              a(href='#cars')
                .buy_button(style='width:350px;')
                  i.fas.fa-car
                  span
                    | BUY
                    br
                    | USED CARS
      section#cars
        .cars_slider
          each chunk in results[3]
            //- h1 chunk
            div
              .all_cars.wrapp

                each item in chunk
                  //- var href = #{item.Photo}
                  .car.clearfix
                    .car_images
                      //- a(href='')
                      img(src=item.Photo , alt='Car')
                    .car_info
                      h4.car_div_title #{item.Car_make} #{item.Model}
                      //- h4.car_div_title #{item.Model}
                      h4.car_div_title #{item.Year}
                      p.car_div_text Engine: #{item.Engine_V}l
                      p.car_div_text Mileage: #{item.Mileage}km
                      h3.car_div_price $#{item.Price}
                      h4.car_div_title #{item.Name}
                      p.car_div_text 
                        span.txt #{item.Phone}  
                        span.btn Show
        //- .left_arrow
        //-   a(href='')
        //-     i.fas.fa-chevron-left
        //- .right_arrow
        //-   a(href='')
        //-     i.fas.fa-chevron-right
      #article_div
        article.our_article.wrapp
          aside
            h2.about_title WHY CHOOSE OUR COMPANY?
            p
              | Proin iaculis purus consequat sem cure 
              | digni ssim. Donec porttitora entum suscipit 
              | aenean rhoncus posuere odio in tincidunt.
              br
              br
              |             Proin iaculis purus consequat sem cure 
              |                     digni ssim. Donec porttitora entum suscipit 
              |                       aenean rhoncus posuere odio in tincidunt.
              br
              br
              |                       Proin iaculis purus consequat sem cure
              |                     digni ssim. Donec porttitora entum suscipit
              |                       aenean rhoncus posuere odio in tincidunt.
      section#news_section
        .all_news.wrapp
          .news_div_1
            h2.title_of_lists PEACE OF MIND
            p
              | Lorem ipsum dolor sit amet, consectetur
              | adipiscing elit, sed do eiusmod tempor in
              | sed quia non numquam eius modi longer
              | ut labore et dolore magna aliqua.
            ul
              li
                i.fas.fa-chevron-circle-right
                a(href='')  30 Days Limited Warranty
              li
                i.fas.fa-chevron-circle-right
                a(href='')  Superb Customer Service
              li
                i.fas.fa-chevron-circle-right
                a(href='')  Best In Class Vehicle
              li
                i.fas.fa-chevron-circle-right
                a(href='')  Best Customer Experience
              li
                i.fas.fa-chevron-circle-right
                a(href='')  Hassle-Free 3 Days Exchange
              li
                i.fas.fa-chevron-circle-right
                a(href='')  Best Price/ Rates within 300 miles
          .news_div_2
            h2.title_of_lists
              | NEWS
            ul
              li
                i.fas.fa-chevron-circle-right
                a(href='')  News1
              li
                i.fas.fa-chevron-circle-right
                a(href='')  News2
              li
                i.fas.fa-chevron-circle-right
                a(href='')  News3
              li
                i.fas.fa-chevron-circle-right
                a(href='')  News4
              li
                i.fas.fa-chevron-circle-right
                a(href='')  News5
          .shedule_div
            table.shedule_table(border='0')
              caption
                h2.about_article WORKING HOURS
              tbody
                tr.row
                  th.leftcolumn  DAY
                  th SALES
                  th SERVICE
                  th PARTS
                tr
                  th.leftcolumn Mon
                  th 9am-8pm
                  th 9am-6pm
                  th 9am-6pm
                tr
                  th.leftcolumn Tue
                  th 9am-8pm
                  th 9am-6pm
                  th 9am-6pm
                tr
                  th.leftcolumn Wed
                  th 9am-8pm
                  th 9am-6pm
                  th 9am-6pm
                tr
                  th.leftcolumn Thu
                  th 9am-8pm
                  th 9am-6pm
                  th 9am-6pm
                tr
                  th.leftcolumn Fri
                  th 9am-8pm
                  th 9am-6pm
                  th 9am-6pm
                tr
                  th.leftcolumn Sat
                  th 9am-8pm
                  th Closed
                  th Closed
                tr
                  th.leftcolumn Sun
                  th 9am-8pm
                  th Closed
                  th Closed
      #register_modal
        .modal
          .form2.wrapp
            form(method='post' action='/clientregister',id='formt', name='register')
              // <fieldset class="auth">
              // <legend>Sign up</legend>
              .inner_form
                span Sign up!
                input(type='text', required='', placeholder='First name', pattern='^[a-zA-Z]+$',maxlength=45, name='Name', style='text-transform: capitalize;')
                input#sur_name(type='text', placeholder='Last name',pattern='^[a-zA-Z]+$',maxlength=45, name='Surname', style='text-transform: capitalize;')
                input(type='email', required='', placeholder='E-mail', name='Email')
                input(id='phone_mask', type='text', placeholder='Phone(+XXXXX...)',maxlength=13, name='Phone')
                input(type='password', required='', placeholder='Password',maxlength=32, name='Password')
                // <input type="password" id="re_pass" required="" placeholder="Confirm password">
                script.
                    $(document).ready(function(){
                      $('[name="Name"]').on('change paste keyup', function(el) {
                        var val = $(this).val();
                        val = val.replace(/[^a-zA-Z]/g, '');
                        $(this).val(val.slice(0, 32));
                      })
                      $('[name="Surname"]').on('change paste keyup', function(el) {
                        var val = $(this).val();
                        val = val.replace(/[^a-zA-Z]/g, '');
                        $(this).val(val.slice(0, 32));
                      })
                      $('[name="Phone"]').on('change paste keyup', function(el) {
                        var val = $(this).val();
                        val = '+' + val.replace(/[^0-9]/g, '');
                        $(this).val(val.slice(0, 13));
                      })
                      
                    });
                button.submit_button(type='submit',name='Submit') Register
                button#close_button(type='button') Close 
                  //- script.
                  //-   document.getElementById("formt").onsubmit = function() {myFunction()};
                  //-   function myFunction() {
                  //-     alert('Registered!')
                  //-   }
              // </fieldset>
      #login_modal
        .modal
          .form2.wrapp
            form(action='/login', name='sign in', method='post')
              // <fieldset>
              .inner_form
                span Sign in!
                input(type='email', required='', name='email', placeholder='E-mail')
                input(type='password', required='', name='password',maxlength=32, placeholder='Password')
                button.submit_button(type='submit') Login
                button#login_close_button Close
              // </fieldset
                //- script
                //-   function getCookie(name) {
                //-     var matches = document.cookie.match(new RegExp(
                //-     "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                //-       ));
                //-       return matches ? decodeURIComponent(matches[1]) : undefined;
                //-     }
                    //- console.log(getCookie('user_id'))
              // </fieldset>
      section#footer_section
        .footer_div_1_back
          .footer_div_1.wrapp
            .sales_div
              .sales_info
                .sales_icon
                  i.fas.fa-mobile-alt
                .sales-info
                  h4 SALES CONTACT
                  h3 123 456 7890
            .sales_div
              .sales_info
                .sales_icon
                  i.fas.fa-wrench
                .sales-info
                  h4 SERVICE CONTACT
                  h3 098 765 4321
            .sales_div
              .sales_info
                .sales_icon
                  i.fab.fa-whmcs
                .sales-info
                  h4 PARTS CONTACT
                  h3 000 000 0000
            .sales_div
              .sales_info
                .sales_icon
                  i.fas.fa-file-signature
                .sales-info
                  h4 ONLINE APPRAISAL
                  h3 000 000 0000
        footer
          .footer_div_2
            .footer_lists.wrapp
              #company_div.company_div
                h4 COMPANY
                ul
                  li
                    i.fas.fa-caret-right
                    a(href='#article_div')  About us
                  li
                    i.fas.fa-caret-right
                    a(href='#news_section')  Services
                  li
                    i.fas.fa-caret-right
                    a(href='#news_section')  News
              .brands_div
                h4 POPULAR BRANDS
                ul
                  li
                    i.fas.fa-caret-right
                    a(href='https://www.audi.com/en.html',target='_blank')  Audi
                  li
                    i.fas.fa-caret-right
                    a(href='https://www.bmw.com/en/index.html', target='_blank')  BMW
                  li
                    i.fas.fa-caret-right
                    a(href='https://www.mercedes-benz.com/en/', target='_blank')  Mercedes-Benz
                  li
                    i.fas.fa-caret-right
                    a(href='https://www.toyota.com/', target='_blank')  Toyota
                  li
                    i.fas.fa-caret-right
                    a(href='http://volkswagen.com/',target='_blank')  Volkswagen
              .contacts_div
                h4 CONTACT US
                span  123 456 7890
                span  Office building, Street, Country
              .follow_us_div
                .follow_text
                  h4 FOLLOW US:
                .follow_icons
                  a(href='http://www.instagram.com/', target='_blank')
                    i.fab.fa-instagram
                  a(href='http://www.facebook.com/', target='_blank')
                    i.fab.fa-facebook-square
                  a(href='http://www.twitter.com/', target='_blank')
                    i.fab.fa-twitter-square
                  a(href='http://www.google.com', target='_blank')
                    i.fab.fa-google-plus-square
